* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container-fluid {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    height: auto;
}

.row {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@keyframes animatedBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    text-align: center;
    padding: 5rem;
    background-image: url(./img/bg1.jpg);
    background-size: cover;
    background-position: top;
    color: #ffffff;
}

.main {
    background-image: linear-gradient(to bottom, #0daef3, #000000);
}

.inputs {
    padding: 6rem 0 2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.inputs input[type="text"] {
    height: 2.5rem;
    width: 40rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
    margin-right: 4px;
    margin-left: 2rem;
    text-indent: 1rem;
}

#add {
    border: none;
    height: 2.5rem;
    width: 3rem;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1rem;
    color: #000101;
    font-size: 1.5rem;
    background-image: url(./img/search.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#clear {
    border: none;
    height: 2.5rem;
    width: 6rem;
    margin-right: 20px;
    border-radius: 1rem;
    color: #000101;
    font-size: 1.5rem;
}

#add:hover {
    background-color: #d0d0d0;
    transform: translateY(1px);
    cursor: pointer;
}

#add:active {
    background-color: #d0d0d0;
    transform: translateY(3px);
    cursor: pointer;
}

.display {
    text-align: center;
    color: #000101;
    border: 5px inset whitesmoke;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    background: linear-gradient(45deg, #ab07f7, #ffffff, #00ffe1);
    background-size: 200% 200%;
    animation: animatedBackground 3s linear infinite;
}

h1,
h5 {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 100px;
}

.red-temperature {
    color: red;
}

@media only screen and (min-width: 868px) and (max-width: 1023px) {
    .inputs input[type="text"] {
        width: 30rem;
        font-size: 1.2rem;
    }

    .header {
        padding: 3rem;
    }

    .display {
        padding: 1rem;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 867px) {
    .inputs input[type="text"] {
        width: 20rem;
        font-size: 1.2rem;
        margin: auto;
    }

    .header {
        padding: 3rem;
    }

    .display {
        padding: 1rem;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .inputs {
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .inputs input[type="text"] {
        width: 100%;
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    #add {
        width: 10%;
        margin: 0.5rem 0;
    }

    #clear {
        width: 20%;
        margin: 0.5rem 0;
        margin-left: 1rem;
    }

    .header {
        padding: 2rem;
    }

    .row {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .display {
        padding: 0.5rem;
        margin-bottom: 0.2rem;
    }
}